extends layout

block jumbotron
	div.jumbotron
		div.container
			h1 Fehler 500

			div.sub.
				Interner Serverfehler

block content
	div.row
		div.col-lg-6
			h2 Something bad happened&hellip;

			p.
				&hellip; and it is not really clear what.
			
