extends layout

block jumbotron
	div.jumbotron.index-jumbotron#index
		div.container.text-center

			div.row(style="display:none")
				div.col-lg-6.col-lg-offset-3
					img.img-responsive(src="/img/headline.png",width="1000",alt="headline")

			div.row
				div.col-lg-10.col-lg-offset-1.text-center
					h3(style="font-size:60px;font-weight:normal;").
						Was trifft eher auf diese Ausstellung zu?
					//h3(style="font-size:60px;font-weight:normal;").
						Wie nimmst du diese Ausstellung eher wahr?

			div.row(style="margin-top:120px;")
				div.col-lg-4
					div.text-center
							div.btn.btn-default.btn-lg(onclick="vote('kunst');").pull-right.
								<img src="/img/icon_20254/icon_20254.png" style="height:100px;margin-right:10px;" />
								Kunst

				div.col-lg-4
					div.text-center(style="padding-top:0px;font-size:60px;").
						oder

				div.col-lg-4
					div.text-center
							div.btn.btn-default.btn-lg(onclick="vote('kitsch');").pull-left.
								<img src="/img/icon_25214/icon_25214.png" style="height:100px;margin-right:10px;" />
								Kitsch



	div.jumbotron.index-jumbotron#voted(style="display:none;")
		div.container.text-center
			div.row
				div.col-lg-12(style="display:none")
					strong(style="font-size:32").
						Soso&hellip; 

					- if (whatfor === "kitsch")
						strong(style="font-size:32;color:#d22e81;").
							Kitsch
					- else 
						strong(style="font-size:32;color:black;").
							Kunst
					- endif

				div.col-lg-12#gaugeContainer.
					'<canvas width="500" height="400" style="margin-top:-35px" id="gauge" />'

			div.row(style="margin-top:-70px")
				div.col-lg-4
					div(style="float:right").
						<img src="/img/icon_20254/icon_20254.png" width="100" />
						<br />
						<strong>Kunst: <span id="counterKunst"></span></strong> 


				div.col-lg-4
					div(style="float:left").
						<div style="font-size:70px;color:white;margin-top:-10px;display:none;" id="incrementKunst">
							<strong>+1</strong>
						</div>

				div.col-lg-4
					div(style="float:left").
						<img src="/img/icon_25214/icon_25214.png" width="100" />
						<br />
						<strong>Kitsch: <span id="counterKitsch"></span></strong> 
					div(style="float:left").
						<div style="font-size:70px;color:white;margin-top:-10px;display:none;" id="incrementKitsch">
							<strong>+1</strong>
						</div>


	script(type="text/javascript").
		function vote(whatfor) {
			//$("#gauge").remove();
			//document.getElementById("gaugeContainer").innerHTML = 
				//'<canvas width="500" height="400" style="margin-top:-35px" id="gauge" />'; 

			$.get("/vote/" + whatfor, function (data) {
				createGauge();
				gauge.maxValue = data.counter.total; // set max gauge value
				gauge.animationSpeed = 32; // set animation speed (32 is default value)

				$("#counterKunst").text(data.counter.kunst);
				$("#counterKitsch").text(data.counter.kitsch);

				var val = data.counter.total - data.counter.kunst;

				$("#index").fadeOut(1000, function() {
					if (data.whatfor === "kitsch") {
						$("#incrementKitsch").css({"display": "block"});
						$("#incrementKitsch").fadeIn(1000);
					} else {
						$("#incrementKunst").fadeIn(1000);
						$("#incrementKunst").css({"display": "block"});
					}


					console.log("about to delay");
					setTimeout("gauge.set(" + val + ")", 800);

					$("#voted").fadeIn(1000, function() {
						if (data.whatfor === "kitsch") {
							$("#incrementKitsch").fadeOut(3000);
						} else {
							$("#incrementKunst").fadeOut(3000);
						}

						$("#voted").delay(3000).fadeOut(2000, function() {
							$("#index").fadeIn(2000);

							//gauge.animationSpeed = 128;
							//gauge.set(0);
						});
					});
				});
			});
		}

		var gauge;
		$(function() {
			createGauge();
		});

		function createGauge() {
				var opts = {
					lines: 12, // The number of lines to draw
					angle: 0.15, // The length of each line
					lineWidth: 0.44, // The line thickness
					pointer: {
						length: 0.9, // The radius of the inner circle
						strokeWidth: 0.035, // The rotation offset
						color: '#ffffff' // Fill color
					},
					limitMax: 'false',   // If true, the pointer will not go past the end of the gauge
					colorStart: '#000000',   // Colors
					colorStop: '#000000',    // just experiment with them
					strokeColor: '#d22e81',
					generateGradient: true
				};


				var target = document.getElementById('gauge'); // your canvas element
				gauge = new Gauge(target).setOptions(opts); 
		}
